$boardDimension: 72vh;
$stepDimension: 80%;

$yellow: #feed01;
$green: #23972a;
$red: #e3001b;
$blue: #006bb3;

#mensErgerJeMinder
{
    background-image: url("../../Images/woodBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid 5px #a6825e;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 80vw;
    margin: auto;
}

h1
{
    color: darken($red, 8%);
}

.playgroundContainer
{
    width: 90%;
    gap: 20px;
}

table
{
    background: rgb(255,255,169);
    background: radial-gradient(circle, rgba(255,255,169,1) 0%, rgba(247,232,81,1) 100%);
    padding: 20px;
    border: ridge 5px $red;
    height: $boardDimension;
    width: $boardDimension;
}
tr
{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
td
{
    height: 100%;
    width: 100%;
}
.circle
{
    height: $stepDimension;
    width: $stepDimension;
    background-color: white;
    border: solid 1px black;
    border-radius: 100%;
    z-index: 10;
}

// mens erger je minder colored steps:
#step1, #step9, #step15, #step23, #step24 //Yellow
{
    background-color: $yellow;
}

#step5, #step7, #step13, #step11, #step18 // green
{
    background-color: $green;
}

#step26, #step27, #step35, #step41, #step49 // red
{
    background-color: $red;
}

#step32, #step39, #step45, #step37, #step43 // blue
{
    background-color: $blue;
}

#step2, #step8, #step6, #step14, #step36, #step44, #step42, #step48, #step25 // transparent
{
    background-color: transparent;
    border: none;
}

.startArrow
{
    font-size: 40px;
}
.greenArrow
{
    transform: rotate(90deg);
}
.redArrow
{
    transform: rotate(180deg);
}
.blueArrow
{
    transform: rotate(270deg);
}