$middleVar: 300px;

#blog
{
    padding: 20px;
}

.hide
{
    display: none;
}

.flex
{
    width: 100%;
    display: flex;
    align-items: center;
}

.border
{
    border-bottom: 2px dashed $color;
}

.title
{
    flex-grow: 1;
    text-align: center;
    height: 100%;    
    padding: 20px 0;
    padding-left: $middleVar;
    cursor: pointer;
}

.arrow
{
    padding: 20px 0;
    padding-right: $middleVar;
    cursor: pointer;
}

.blogImgContainer
{
    display: inline-block;
}

.blogImg
{
    width: 100%;
}

.imgDirection-topLeft
{

    float: left;
    margin-right: 20px;
}
.imgDirection-topRight
{
    float: right;
    margin-left: 20px;
}

.clearfix
{
    @include clearfix
}

.padding
{
    padding: 20px 30px;
    // padding-top: 20px;
}