$middleVar: 20%;

#blog
{
    // margin: 20px;
    width: 100%;

    h1
    {
        margin: 0px;
    }
}

// .blogHeading :hover
// {
//     background: transparentize(gray, 0.6);
//     color: white;
// }

.flexBlog
{
    width: 100%;
    display: flex;
    align-items: center;
}

.title
{
    flex-grow: 1;
    text-align: center;
    height: 100%;    
    padding: 20px 0;
    padding-left: $middleVar;
    cursor: pointer;
}

.arrow
{
    padding: 20px 0;
    padding-right: $middleVar;
    cursor: pointer;
}

.paddingBlog
{
    padding: 0 60px;
}

.hide
{
    display: none;
}