// animations:
@keyframes menuTopLeft 
{
    0% 
    {
        left: -97.8vw;
    }
    100%
    {
        left: 0px;
    }
}
@keyframes menuTopVerticalRight
{
    0% 
    {
        left: 100vw;
    }
    100%
    {
        left: 77vw;
    }
}
@keyframes menuTopHorizontalCenter
{
    0% 
    {
        top: -100%;
    }
    100%
    {
        top: 100%;
    }
}
@keyframes menuTopHorizontalRight
{
    0% 
    {
        right: -150vw;
    }
    100%
    {
        right: -91vw;
    }
}

// menu button
.menuBtn
{
    background-color: transparent;
    border: 1px solid $menuColor;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    padding: 0px;
}

// menu button icons:
.hamburgerMenuBar
{
    height: 0.3em;
    width: 2em;
    margin: 7px auto;
    background-color: $menuColor;
}

.kebabMenuBar
{
    height: 0.32em;
    width: 0.32em;
    border: 1px solid $menuColor;
    border-radius: 50px;
    margin: 7px auto;
    background-color: $menuColor;
}

.hotdogMenuBar
{
    height: 0.3em;
    width: 1.4em;
    margin: 7px auto;
    background-color: $menuColor;
}
.hotdogMenuBar:nth-child(2)
{
    width: 2em;
}

.friesMenuBar
{
    height: 0.3em;
    width: 2em;
    margin: 7px auto;
    background-color: $menuColor;
}
.friesMenuBar:nth-child(2)
{
    width: 1.4em;
    margin-right: 8px;
}

.strawberryMenuBar
{
    height: 0.3em;
    width: 2em;
    margin: 7px auto;
    background-color: $menuColor;
}
.strawberryMenuBar:nth-child(2)
{
    width: 1.5em;
}
.strawberryMenuBar:nth-child(3)
{
    width: 1em;
}

.chocolateBarDiv
{
    display: flex;
    justify-content: space-evenly;
}
.chocolateMenuBar
{
    height: 0.32em;
    width: 0.32em;
    border: 1px solid $menuColor;
    margin: 3px;
    background-color: $menuColor;
}

// drop down content styles:

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent 
{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 100;
}

/* Links inside the dropdown */
.dropdownContent a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover 
{
    background-color: $menuColor
}

// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdownContent 
// {
//     display: block;
// }

// direction styles:
.topVerticalLeft
{
    display: block;

    animation-name: menuTopLeft;
    animation-duration: 1s;
    animation-delay: -0.5s;
    animation-timing-function: ease-out;
}
.topVerticalRight
{
    display: block;
    left: 77vw;

    animation-name: menuTopVerticalRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.topHorizontalCenter
{
    display: block;
    width: 97.8vw;
    text-align: center;

    animation-name: menuTopHorizontalCenter;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    a
    {
        display: inline-block;
    }
}
.topHorizontalLeft
{
    display: block;
    width: 97.8vw;
    text-align: left;

    animation-name: menuTopLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    a
    {
        display: inline-block;
    }
}
.topHorizontalRight
{
    display: block;
    width: 97.8vw;
    text-align: right;

    animation-name: menuTopHorizontalRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    a
    {
        display: inline-block;
    }
}

// /* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .menuBtn 
// {
//     background-color: transparent;
// }


// sources:

// http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/howto/howto_css_dropdown.asp.html