// Footer of the document
.footerClass
{
    width: 80vw;
    background-color: transparentize(darken($neutral, 80%), 0.2);
    height: 7vh;

    ul
    {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    li
    {
        padding: 5px 20px;
        border-left: 1px solid $neutral
    }
    li:nth-child(1)
    {
        border-left: none;
    }

    a
    {
        text-decoration: none;
        color: $neutral;
    }
    a:hover
    {
        text-decoration: underline;
        color: $green;
    }
}