.fullWidth
{
    width: 100%;
}

.mainClass
{
    background-color: transparentize($green, 0.6);
    padding-top: 20vh;
    padding-bottom: 2vh;
}

.solidBackground
{
    padding: 20px 0;
    background-color: transparentize($green, 0.3);
}

.intro
{
    width: 100%;
    line-height: 1.2em;
}

.width60
{
    width: 60%;
}

.portret
{
    width: 40%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pictures
{
    width: 20%;
}

.blogHeading
{
    margin: 0px;
    padding: 15px 0;
    width: 100%;
    background-color: $green;
}

.hide
{
    display: none;
}