body
{
    width: 80vw;
    margin: auto;
    background-image: url("https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=pexels-pixabay-257360.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vertical
{
    flex-direction: column;
    gap: 20px;
}
.bigGap
{
    gap: 10vh;
}

.float
{
    float: right;
    @include clearfix;
}

.padding
{
    padding: 20px 50px;
}

.maintenance
{
    font-size: 200%;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 70%;
    padding: 20px 0px;
    background-color: transparentize($green, 0.3);
}

h1
{
    text-align: center;
    color: $neutral;
    margin-bottom: 20px;
}

.text
{
    color: $neutral;
    font-weight: bold;
    font-size: 1em;
}